/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные тёмной темы */
  --main-color: #000028;
  --main-font-color: #f1b2cE;
  --main-title-color: #db00ff;
  --main-font: 'IBM Plex mono', sans-serif;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --accent-color: #ff0070;
  --outline-color: #ff0070;
  --theme-button-color: #ff0070;
  --title-color: #ff0070;
  --accent-title-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --accent-font-weight: 700;
  --container-padding: min(2.67vi, 20px);
  --header-cover: url(../images/cover-image-dark.png);
}